
/* General */
.root {
    -fx-background-color: #333;
}

.label {
    -fx-text-fill: #eee;
}

.button {
    -fx-background-color: #0056b3; /* Dunkleres Blau */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,0,1 );
}

.button:hover {
    -fx-background-color: #004085;
}

.menu-button {
    -fx-background-color: #5a6268; /* Dunkleres Grau */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,0,1 );
}

.menu-button:hover {
    -fx-background-color: #4a5156;
}

.text-field {
    -fx-background-color: #555;
    -fx-border-color: #777;
    -fx-border-width: 1px;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.combo-box .list-cell {
    -fx-background-color: #555;
    -fx-text-fill: #eee;
}

.combo-box .list-cell:selected {
    -fx-background-color: #0056b3;
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: #444;
    -fx-border-color: #777;
    -fx-border-width: 1px;
}

.list-cell {
    -fx-text-fill: #eee;
    -fx-background-color: #444;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #0056b3;
    -fx-text-fill: white;
}

.progress-bar .bar {
    -fx-accent: #0056b3;
}

.slider .thumb {
    -fx-background-color: #0056b3;
}

.menu-bar {
    -fx-background-color: #444;
}

.menu {
    -fx-text-fill: #eee;
}

.menu .label {
    -fx-text-fill: #eee;
}

.menu-item {
    -fx-background-color: #555;
}

.menu-item .label {
    -fx-text-fill: #eee;
}

.menu-item:focused {
    -fx-background-color: #0056b3;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}


/* Für Memory Game Buttons */
.game-button {
    -fx-background-color: #555;
    -fx-font-size: 20px;
    -fx-text-fill: transparent; /* Text verstecken */
    -fx-background-radius: 8px;
    -fx-border-color: #777;
    -fx-border-width: 2px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 3,0,0,1 );
}

.game-button.revealed {
    -fx-background-color: #3f7b9d; /* Dunkleres Blau für aufgedeckte Karten */
    -fx-text-fill: #eee;
    -fx-effect: none;
}

.game-button.matched {
    -fx-background-color: #2e8b57; /* Dunkleres Grün für gefundene Paare */
    -fx-text-fill: #eee;
    -fx-effect: none;
}